<sly data-sly-use.model="com.greenleaf.organics.core.models.ProductCardModel"/>
<div class="cmp-productcard" data-sly-test="${model.productName}">
    <div class="cmp-productcard__image-wrapper">
        <img class="cmp-productcard__image" src="${model.productImage @ context='uri'}" alt="${model.productName}" data-sly-test="${model.productImage}"/>
        <span class="cmp-productcard__badge" data-sly-test="${model.badge}">${model.badge}</span>
        <button class="cmp-productcard__wishlist"
                data-product-name="${model.productName}"
                data-product-price="${model.price}"
                data-product-image="${model.productImage @ context='uri'}"
                type="button" aria-label="Add to wishlist">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/></svg>
        </button>
    </div>
    <div class="cmp-productcard__info">
        <h3 class="cmp-productcard__name">${model.productName}</h3>
        <p class="cmp-productcard__price" data-sly-test="${model.price}">${model.price}</p>
        <p class="cmp-productcard__description" data-sly-test="${model.description}">${model.description}</p>
        <div class="cmp-productcard__actions">
            <a class="cmp-productcard__link" href="${model.linkURL @ context='uri'}" data-sly-test="${model.linkURL}">View Product</a>
            <button class="cmp-productcard__add-to-cart"
                    data-product-name="${model.productName}"
                    data-product-price="${model.price}"
                    data-product-image="${model.productImage @ context='uri'}"
                    type="button">Add to Cart</button>
        </div>
    </div>
</div>
